body{background-color:#b2afac}
.jumbotron {background-color: #48C9B0}
h1 {
    font-size: 50px;
    line-height: 60px;
}

h1 {
  font-family: Georgia, serif;
}
styleimg{ background-image: url(https://image.flaticon.com/icons/svg/25/25231.svg);
background-repeat: no-repeat;
width: 100px;
height: 100px;
}
